__pycache__/
.ipynb_checkpoints/
*.pyc
*.pkl
*.h5
.env
.DS_Store

# Logs & cache
logs/
*.log


# System files
.DS_Store
Thumbs.db


# Data & artifacts
# data/
artifacts/*.csv
artifacts/*.parquet


# Ignore trained models
artifacts/models/
*.joblib
